import(methods)
import(BiocGenerics)
import(S4Vectors)
import(AnnotationHub)
importFrom(BiocManager, install)
importFrom(utils, installed.packages)
import(BiocFileCache)
import(rappdirs)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 classes
###

exportClasses(ExperimentHub) 

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 methods for generics not defined in AnnotationHub 
###

exportMethods(
    cache, "[[", 
    listResources, loadResources, package
)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export S4 generics defined in AnnotationHub + export corresponding
### methods
###

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Export non-generic functions
###

export(ExperimentHub, 
       getExperimentHubOption, setExperimentHubOption,
       createHubAccessors
)
